/* 
  Slides are centered on the screen (vertically and horizontally) using the 
  CSS3 display: box property in the BODY element. This method will likely not 
  work in browsers other than webkit (Safari or Chrome) or latest Firefox.
  
  Should this property give you problems, just set display: block on BODY here.
*/

h1 {
  color: gold;
  letter-spacing: 1px;
}

section pre,
section p {
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
}

pre {
  width: 80%;
  min-width: 300px;
  margin: 1em auto;
  text-align: left;
  font-size: 90%;
}

ul {
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
}

a {
  color: cyan;
  text-decoration: none;
}


